<h2>BOOKSTORE</h2>
<h4>Still Under Construction</h4>
<div class="conatainer">
    <div class="btn-group" role="group">
        <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        View by Rating
        </button>
        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
        <a class="dropdown-item" href="#">1</a>
        <a class="dropdown-item" href="#">2</a>
        <a class="dropdown-item" href="#">3</a>
        <a class="dropdown-item" href="#">4</a>
        <a class="dropdown-item" href="#">5</a>
        </div>
</div>
<div class="container">
    <div class="row">


        {{#each book_data}}
        <div class="col-12">
            <div class="card border-info mb-3">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="http://books.google.com/books/content?id={{this.googleId}}&printsec=frontcover&img=1&zoom=3&edge=curl&source=gbs_api"
                            alt="" class="card-img-top" alt="...">
                            Rating: {{this.rating}} out of 5 
                            <br>
                            Price: ${{this.price}}
                            <br>
                            Pages: {{this.pageCount}}
                            <br>
                            Published: {{this.publishedDate}}  
                            <br> Publisher: {{this.publisher}}
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{this.title}}</h5>
                            <p class="card-text" style="overflow: hidden;">{{this.description}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}

    </div>
</div>

<script src="homepage.js"></script>