<div class="container" id="main_container">
    <div class="btn-group" role="group">
        <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            View Books by Rating
        </button>
        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
            <a class="dropdown-item" href="/">View All Books</a>
            <a class="dropdown-item" href="/rating/1">1</a>
            <a class="dropdown-item" href="/rating/2">2</a>
            <a class="dropdown-item" href="/rating/3">3</a>
            <a class="dropdown-item" href="/rating/4">4</a>
            <a class="dropdown-item" href="/rating/5">5</a>
        </div>
        <div class="btn-group" role="group1">
            <button id="AuthorDropDown" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                View Books by Authors</button>
            <div class="dropdown-menu pre-scrollable" aria-labelledby="AuthorDropDown" id="authordrop">
            </div>
        </div>


        {{#if sorted}}
        <h5>
            Books Rated {{sorted}} out of 5
        </h5>
        {{/if}}

        {{#if Author}}
        <h5>{{Author}}</h5>
        {{/if}}

        {{#if nobooks}}
        <p></p>
        <h5>There are no books available for this author.</h5>
        {{/if}}
    </div>
    <p></p>

    <div class="container" id="main_container">
        <div class="row">
            {{#each book_data}}
            <div class="col-12">
                <div class="card border-info mb-3">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img src="http://books.google.com/books/content?id={{this.googleId}}&printsec=frontcover&img=1&zoom=1&edge=curl&source=gbs_api"
                                alt="" class="card-img-top" alt="...">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <h6>Rating: {{this.rating}} out of 5</h6>
                                </li>
                                <li class="list-group-item">
                                    <h6>Price: ${{this.price}}</h6>

                                </li>
                                <li class="list-group-item">
                                    <h6>Pages: {{this.pageCount}}</h6>
                                </li>
                                <li class="list-group-item">
                                    <h6>Published: {{this.publishedDate}}</h6>
                                </li>
                                <li class="list-group-item">
                                    <h6>Publisher: {{this.publisher}}</h6>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">{{this.title}}</h5>
                                <p class="card-text" style="overflow: hidden;">{{this.description}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>

    <script src="/public/homepage.js"></script>